<%= render 'layouts/usernavigation' %>

	
		
		<h1><div class="page-header text-center">MESSAGE BOARDS</div></h1>

	
  
<% @messages.each do |message| %>
<div class="col-md-4">
		<p><%= message.title %></p>
	
	<div class="btn btn-success btn-sm" role="button"><%= link_to "View Message", message_path(message), class: "btn btn-dafault" %>
	</div>
	
</div>
	
	<% end %><br><br>

<%=render 'layouts/messagesbottom' %>



