<%= form_for [@band, @video] do |f| %>


  <div class="text-center form-inputs">
    <%= f.text_field :title, placeholder: :title %>
    
    <%= f.text_field :url, placeholder: "URL" %>

  </div>
<br>
  <div class="form-actions text align center">
    <%= f.button :submit %>
  </div>
<br>
<% end %>
