<h1> BAND PAGE </h1>


<h1> Welcome <%= @band.bname %></h1>

<%= image_tag @band.avatar.url :medium %>


  <%= audio_tag @band.mp3, controls: true %>






<li><%= link_to "Edit Your Account", edit_band_path(@band) %></li>