@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Oswald);

a:hover {
	color: green;
	text-decoration: none;
}

/*layouts navigation start here*/
li.hm {
	display: inline;
	margin-top: 50px;
	// text-decoration: none;
}
ul.hm {
	display: inline;
	text-align: center;
	text-decoration: none;

}
ul.messagebottom {
	list-style-type: none;
}


/*layout usernavigation starts here*/

.navbar-nav {
	padding-left: 300px;
}
ul,li.usernav {
	display: inline;
	text-align: center;
	margin-top: 50px;
}

/*layouts usernavigation ends here*/
// 
/*This is where the home page is styled*/

.statichome  {
	background-image: url("/assets/director_red.jpg");
	background-image: fixed;
	background-size: cover;
	color: white;
	background-repeat: no-repeat;
	// overflow: hidden;
	background-color: black;
}
#circle {
	width: 300px;
	height: 300px;
	background: black;
	border-radius: 50px;
	border: solid white 5px;
	margin-top: 123px;
	padding: 0px;
	text-align: center;
	float: left;
	position: fixed;
}
#circle2 {
	width: 300px;
	height: 300px;
	background: black;
	border-radius: 50px;
	border: solid white 5px;
	margin-top: 123px;
	margin-left: 1120px;
	padding: 0px;
	float: left;
	text-align: center;
	position: fixed;
}



	
/*this is where the static home page ends




/*This is where the edit page is stlyed*/
.center {
	text-align: center;
}


.editpage {
	background-image: url("/assets/editmess2.jpg");
	background-size: 100%;
	
}

.editform{
	height: 550px;
	width: 200px;
	font-size: 25px;
	padding: 0px 0px 0px 0px;
    opacity: 0.8;
}


/*edit page ends*/

#footer{
	text-align: center;
}
.usersnew {
	background-image: url("/assets/signup.jpg");
	background-size: 100%;
} 

.welcome {
	background-image:url("Pics/movie_screen2.jpg");
	background-size: cover;
	background-color: black;
	background-repeat: no-repeat;
}



/*This is where the sessions is styled*/
// .wrapperlogin {
// 	// background: url("/assets/clapper.png");
// 	background-image: fixed;
// 	background-opacity: .4;
// 	background-repeat: no-repeat;
// 	background-color: gray;
	

// 	margin-top: 30px;
// 	margin: 0 auto;
	
// }

// .center-block {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//  }

.clapper {

	padding-left: 402px;
	}
.piccontainer {
	width: 50%;
}

/*login page starts here */
// .login {
// 	font-family: 'chalkduster';
// 	font-size: 30px;
// 	margin-left: 655px;
//     margin-bottom: 272px;
//     margin-top: -315px;
// }

// .loginh2 {
// 	font-family: 'chalkduster';
// 	font-size: 25px;
// 	color: white;
//     margin-top: -221px;
//     margin-left: 494px;
// }

// .loginh3 {
// 	font-family: 'chalkduster';
// 	height: 30px;
// 	font-size: 25px;
// 	color: white;
// 	margin-bottom: 800px;
//     margin-left: 498px;
//     margin-top: 50px;
//  }

//  .button1 {
// 	margin-left: 666px;
//     margin-top: -720px;
//     size: 20em;
// }  

.input1 {
	height: 21px;
	width: 164px;
}
/* this is where the log-in page ends */


// h1 {
// 	padding: 0px 0px 0px 0px;
// 	margin: 0px 0px 0px 0px;
// }

// a:link {
// 	text-decoration: none;
// 	color: blue;
// }

// a:active {
// 	color: blue;
// }

// a:visited {
// 	color: blue;
// }



// ul, li {
// 	display: inline;
// 	text-align: center;
// 	margin-top: 50px;
// }

#supf{
	text-align: center;
	font-size: xx-large;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	background-color: grey;
    opacity: 0.8;
}

.signupbod{
	background-image: url('/assets/signup.1.jpg');
	background-size: cover;
}

#signupform{
	width: 132px;
	height: 540px;
	color: black;
	text-align: center;
	
	text: uppercase;
	opacity: 3.8;
}
#firstname {
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
}
/*This is where the profile page is styled*/
.profilebod{
	background-image: url('/assets/movie_screen2.jpg');
	background-size: cover;
}

#profilepage{
	margin: 0 auto;
	margin-top: 40px;
	width: 700px;
	height: 400px;
}


#headshot {
	margin: 0 auto;
	float: right;
}
#headshot1 {
	
}
.navbar-nav > li > a {
padding-top: 0px;
padding-bottom: 0px;
margin-top: -37px;
}
.navbar-default {
	background-color: black;
	border-color: black;
}
/*profile page ends*/

/*this is where the search styling starts*/

#headshot{
	margin: 0 auto;
	float: right;
}

/*This is where the search page is styled*/
.searchbod{
	background-image: url('/assets/projector2.jpg'); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: black;

}

.searchwrap{
	height: 300px;
	width: 300px;
	margin-top: 31px;
	margin-right: 235px;
	float: right;
	display: block;
}

// #searchfield{
// 	// margin: 0 auto;
// 	text-align: center;
// }


p.show {
	font-size: 35px;
}
// #searchshow {
// 	display: none;
// }

/*bands signup page starts here*/

#bands {
	background-color: #383838;
	
}
/* Message show-page styles */
.message-show {
	box-sizing: border-box;
	background-color: #383838;
	padding: 2.0em 1.5em;
	border-bottom: 4px solid #0a8fd5;
	color: #fff;
	font-family: 'Muli', sans-serif;
	font-weight: 300;

	h2 {
		margin-top: 0;
	}

	.message-desc {
		font-size: 1.1em;
		line-height: 1.75;
		margin-bottom: 50px;
	}

	.message-posted-by {
		color: #eee;
		font-size: 0.9em;
	}

	.reply-to-msg {
		margin-top: 50px;


	}

}

/*Band index page starts here */


/*Band index page ends here */

/*band edit page starts here */


/*band edit page ends here */

/*band profile page begins here */
.profile {
	background-color: gray;
}
.infocontainer {
	bottom: 400px;
	// margin-left: 459px;
	margin-top:	44px;
	padding-left: 49px;
	padding-right: 201px;


}
.procontainer {
	// bottom: 400px;
	// margin-right: 459px;
	// margin-top: 44px;
	// padding-left: 49px;
	// padding-right: 242px;
}

.blue {
	color: #0080FF;
}
ul.footerclass {
	padding-top: 300px;
}

.green {
	color: #40FF00; 
}

.player {
	margin-top:	44px;
	padding-left: 49px;
	padding-right: 201px;
}
.rightcontainer {
	height: 454px;
}
li.bs {
	list-style-type: none;
}
.vb {
	margin-left: 30px;
}
ul.footerclass {
	
	// position: absolute;
}

/*band profile page ends here */

// Band video show page starts here
.vshow {
	background-image: url("/assets/movie_screen.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	// width: 100%;
	// height: auto;
	background-color: black;
	position: fix;
	
}
.vvideo {
	margin-left: 341px;
	margin-top: 44px;
}
ul.menu {
	display: inline;
	list-style-type: none;

}


// band video show page ends here

// This is where the video index page starts
.bkindex {
	background-image: url("/assets/Stage-Spotlights-Background.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

.inco {
	color: white;
}
.picind {
	padding-top: 99px;
}


// This is where the video index page ends

//band new
input[type="file"]{
	display: inline;
}
.bandnew {
	background-color: #819FF7;
}

