<div class = "navbar navbar-default navbar-fixed-bottom">
	<div class="container">

<ul>
	<div class="center btn btn-danger btn-lg" role="button"><li><%= link_to "New Message", new_message_path %></li>
	</div>	
		<div class="center btn btn-danger btn-lg" role="button">
<li><%= link_to "Back To Profile", user_path(current_user) %></li>
		</div>
	
</ul>

</div>
</div>