<div class = "navbar navbar-default navbar-fixed-bottom">
	<div class="container">

<ul>
	<div class="center btn btn-success btn-lg center-block" role="button"><li><%= link_to "New Message", new_message_path %></li>
	</div>	
		
</ul>

</div>
</div>