<ul class= "hm">
	<h1>
		<li class= "hm"><%= link_to 'Home', root_path %></li>
		<li class= "hm"><%=link_to 'About', about_path %></li>
		<li class= "hm"><%= link_to 'Contact', contact_path %></li>
		
	</h1>
</ul>